@import '../base/variables';

/*CSS VIDEOS*/
.grid-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
    .div1 { 
        grid-area: 1 / 1 / 2 / 2;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .tiulo-video{
            font-family:$titulos;    
            text-transform: uppercase;
            text-align:center;
            font-weight: bold;
            margin-top: 10px;
            font-size: 28px;       
        }
        .articulo1{
            font-family: $texto;
            margin-top: 5px;
            margin-right: 40px;
            margin-bottom: 10px;
            margin-left: 30px;
        }
        .btn-text {
            @media screen and (max-width: 768px) {
                display: flex;
                justify-content: center;
            }
        }
        .btn-uno {
            margin-top: 40px;
        }
        .btn-link {
            margin-top: 20px;
            margin-left: 280px;
            margin-bottom: 30px;
            text-decoration: none;
            color: white;


            @media screen and (max-width: 768px) {
                display: flex;
                justify-content: center;
                margin-left: 0;
            }
        }
    }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; } 
}


    
    






